@import "../../../../../teufels_thm_custom/Resources/Private/Assets/Less/Custom/variables.less";

.fact {
  position: relative;
  margin: 0 0 40px 0;
  @media (min-width: 992px) {
    margin: 0;
  }
}
.fact .inner {
  padding: 0 10px;
}
.fact .inner:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 10%;
  height: 80%;
  width: 1px;
  background: @brand-primary;
  @media (max-width: 767px) {
    top: auto;
    bottom: -20px;
    left: 10%;
    height: 1px;
    width: 80%;
  }
}
@media (min-width: 992px) {
  .fact:first-child .inner:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fact:nth-child(odd) .inner:after {
    display: none;
  }
}

.fact .inner span {
  display: block;
}
.fact .inner p {
  margin: 0;
}
.fact .inner .fact--number {
  font-weight: 700;
  color: @brand-primary;
  font-size: 110px;
  font-size: 11.0rem;
  @media (min-width: 992px) and (max-width: 1999px) {
    font-size: 110px;
    font-size: 11.0rem;
  }
  line-height: 1;
  margin: 0;
}
.fact .inner .fact--title,
.fact .inner .fact--title h3 {
  font-weight: 400;
  font-size: 28px;
  font-size: 2.8rem;
  text-transform: uppercase;
  margin: 0;
}
.fact .inner .fact--title h3 {
  margin: 0;
}
.basic--style .fact .inner .fact--title {
  padding-right: 0;
  margin: 20px 0;
  @media (min-width: 992px) {
    padding-right: 20px;
    margin: 0;
  }
}
.basic--style {
  padding-top: 40px;
}
.basic--style .fact .inner {
  padding: 0;
}
.basic--style .fact {
  margin-bottom: 40px;
  min-height: 140px;
  text-align: center;
  @media (min-width: 992px) {
    text-align: left;
  }
}
.basic--style .fact .display_table-cell {
  vertical-align: middle;
}
.basic--style .fact .inner .fact--number {
  line-height: 85px;
}