
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />

	<div id="tx_teufelscptcntfacts" class="tx_teufelscptcntfacts row row-centered">
		<f:for each="{facts}" as="fact" iteration="iteration">
			<div id="fact_{fact.uid}" class="col-xs-12 col-sm-6 col-md-3 text-align_center col-centered fact">
				<div class="inner">
					<span class="fact--number">{f:if(condition: '{iteration.cycle} < 10', then: '0', else: '')}{iteration.cycle}</span>
					<f:if condition="{fact.title}">
						<h3 class="fact--title">{fact.title}</h3>
					</f:if>
					<f:if condition="{fact.teaser}">
						<span class="fact--teaser">{fact.teaser}</span>
					</f:if>
				</div>
			</div>
		</f:for>
	</div>

</f:section>